html{
    background-image: url(../Images/owlinbackground.jpg)
    }

body{
    width:1500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    }

body{
    text-align: center;
    image-orientation: center;
    font-family: arial,'Luckiest Guy', cursive; 'Cabin Sketch', cursive;
    }

bdoy{
    border: 4px solid #000;
    background-color: #C1761C;
    }

h1{
  font-family:'Julius Sans One', sans-serif;
  font-size: 72pt;
  color:black;
  border-top: 2px doted #686143;
  border-bottom: :2px dotted #686143;
  text-transform:uppercase;
  }


a{
 font-family: 'Cabin Sketch', cursive;
 font-size: 36pt;
 color:black;
 text-decoration:none;
 vertical-align: baseline
 }

a:hover{
       color:rebeccapurple;
       font-family:'Cabin Sketch', cursive;
       font-size: 40pt;
       }

p{
 font-family:arial;
 font-size: 30pt;
 color:black;
 line-height:30pt;
 }

img{
   border: medium soild #666;
   box-shadow:5px 5px 5px rgba(0,0,0,3);
   }